/* line 8, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
body {
  background: #E9F2F9;
  margin: 0;
}

/* line 13, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
a {
  color: #1B325F;
}

/* line 17, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
a:visited {
  color: #327cb7;
}

/* line 22, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.main-page {
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 70px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}

/* line 31, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.loginnav {
  display: inline-block;
  float: right;
}

/* line 36, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.top-bar {
  background: #3A89C9;
  box-shadow: 0 -1px 10px 2px;
  float: left;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

/* line 45, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.name {
  display: inline-block;
  font-family: 'Merienda', cursive;
  font-size: 40px;
  padding-left: 50px;
  text-shadow: 1px 1px 1px #111111;
}

/* line 53, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.mascot {
  display: inline-block;
  border-radius: 80px;
  width: 30%;
  padding: 20px;
}

/* line 60, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.signed_in_as {
  display: inline-block;
  font-family: 'Merienda', cursive;
  font-size: 20px;
  float: right;
  margin: 50px;
}

/* line 68, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.sign-up-form {
  background: #E9F2F9;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: inline-block;
  float: right;
  margin-right: 20px;
  margin-top: 140px;
  padding: 20px;
  text-align: center;
  width: 10%;
}

/* line 81, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.location-info {
  background: #9CC4E4;
  text-align: center;
  border-radius: 10px;
  padding: 50px;
  margin-left: 200px;
  margin-right: 200px;
  width: 50%;
  display: center;
  margin: 0 auto;
}

/* line 93, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.weather-info {
  background: #9CC4E4;
  text-align: center;
  border-radius: 10px;
  padding: 50px;
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
  width: 50%;
  display: center;
  margin: 0 auto;
}

/* line 106, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.weather-info-show {
  background: #9CC4E4;
  text-align: center;
  border-radius: 10px;
  padding: 50px;
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
  width: 50%;
  display: center;
  margin: 0 auto;
}

/* line 119, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.clothing-suggestions {
  background: #9CC4E4;
  text-align: center;
  border-radius: 10px;
  padding: 50px;
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
  width: 50%;
  display: center;
  margin: 0 auto;
}

/* line 132, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.wolf-advice {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  text-align: left;
  font-style: normal;
}

/* line 141, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.wolf-says {
  text-align: center;
}

/* line 145, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.user-locations {
  background: #9CC4E4;
  border-radius: 10px;
  padding: 50px;
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
  width: 50%;
  display: center;
  margin: 0 auto;
}

/* line 157, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.info-form {
  background: #9CC4E4;
  border-radius: 10px;
  padding: 50px;
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
  width: 50%;
  display: center;
  margin: 0 auto;
}

/* line 169, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
ul {
  columns: 2;
  text-align: center;
  margin: 5px;
}

/* line 175, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.greeting {
  padding: 10px;
}

/* line 179, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.callout {
  padding: 10px;
}

/* line 183, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.user-buttons {
  display: inline-block;
}

/* line 187, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.nav-box {
  font-family: 'Merienda', sans-serif;
  font-size: 20px;
}

/* line 192, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.user-info {
  display: inline-block;
  float: right;
  font-family: 'Merienda', sans-serif;
  font-size: 14px;
  text-align: right;
}

/* line 200, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.back-link {
  text-align: center;
  color: #F26C4F;
  font-size: 15px;
  font-family: 'Merienda', sans-serif;
}

/* line 207, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.top-padded {
  padding-top: 30px;
}

/* line 211, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.large-6 {
  padding: 30px;
  margin: 20px;
}

/* line 217, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.flash-container {
  text-align: center;
  background: #F26C4F;
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

/* line 226, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.space-form {
  padding: 10px;
}

/* line 230, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.report {
  text-align: left;
}

/* line 234, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.search-bar {
  padding: 10px;
  margin: 10px;
}

/* line 239, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
#user_email {
  height: 20px;
  width: 300px;
  margin: 10px;
  font-family: 'Hind', sans-serif;
}

/* line 246, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
#user_password {
  height: 20px;
  width: 300px;
  margin: 10px;
}

/* line 252, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
#user_password_confirmation {
  height: 20px;
  width: 300px;
  margin: 10px;
}

/* line 258, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.new_user {
  width: 40%;
  margin-top: 60px;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  float: none;
  background-color: #9CC4E4;
  padding: 50px;
  border-radius: 10px;
}

/* line 271, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
#location_city {
  height: 20px;
  width: 300px;
  margin: 10px;
}

/* line 277, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
#location_state {
  height: 20px;
  width: 300px;
  margin: 10px;
}

/* line 283, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
#location_zip {
  height: 20px;
  width: 300px;
  margin: 10px;
}

/* line 289, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
#location_country {
  height: 20px;
  width: 300px;
  margin: 10px;
}

/* line 295, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
label {
  width: 150px;
  display: inline-block;
}

/* line 300, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
input[type=text] {
  display: inline-block;
}

/* line 304, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.add-location-form {
  background: #9CC4E4;
  border-radius: 10px;
  padding: 50px;
  width: 80%;
  display: center;
  margin: 0 auto;
}

/* line 313, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
#locality {
  height: 20px;
  width: 300px;
  margin: 10px;
}

/* line 319, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
#administrative_area_level_1 {
  height: 20px;
  width: 300px;
  margin: 10px;
}

/* line 325, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
#postal_code {
  height: 20px;
  width: 300px;
  margin: 10px;
}

/* line 331, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
#country {
  height: 20px;
  width: 300px;
  margin: 10px;
}

/* line 337, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
#autocomplete {
  height: 20px;
  width: 300px;
  margin: 10px;
}

/* line 343, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
.wolf-image {
  text-align: center;
  display: center;
  margin: 0 auto;
  margin-left: 200px;
  margin-right: 200px;
  width: 70%;
}

/* line 352, /Users/lee/wearwolf/app/assets/stylesheets/application.scss */
input[type="radio"] {
  margin: 0 auto;
}
