

<div class="location-container">
  <div class="callout primary">
    <div class="greeting">
      Hello, <%= current_user.email %>! <br>
      The weather for <div class="current-location"> your current location </div> is:
    </div>
    <div id="app"/>

    <div class="suggestion">
      Based on today's weather report, you should wear: <br>
      <ul>

      </ul>
    </div>
  </div>
</div>
