<h2>Look up the weather in a location</h2>
<%= link_to 'Add a location', new_location_path, method: :get %>

<div class="location-container">
  <div class="callout primary">
    <div class="greeting">
      Hello, <%= current_user.email %>! <br>
      The weather for <div class="current-location"> your current location </div> is:
    </div>
    

  </div>
</div>
