<div class="search-bar">
  <%= form_tag(locations_path, :method => 'get', id: 'search-form') do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Enter City', class:"search-form" %>
  <%= submit_tag 'Search', class:"location-search search-button" %>
  <% end %>
</div>



<div class="location-container">
  <div class="callout primary">
    <div class="greeting">
      Hello, <%= current_user.email %>! <br>
      The weather for <div class="current-location"> your current location </div> is:
      <div class="report">
        <ul>
          <li>Daily High: <div id="high"/></li>
          <li>Daily Low: <div id="low"/></li>
          <li>Chance of Precipitation: <div id="precipitation"/>%</li>
          <li>Humitiy: <div id="humidity"/>%</li>
          <li>Summary: <div id="summary"/></li>
        </ul>
      </div>
    </div>
    <div id="app" />
    <div class="suggestion">
      Based on today's weather report, you should wear: <br>
      <ul>


      </ul>
    </div>
  </div>
</div>
